$bordo: #b00000

body 
  margin: 0
  padding: 0

header
	height: 100vh
	width: 100%
	position: relative

a 
  color: $bordo
  text-decoration: none

a:hover 
  text-decoration: none

video 
	width: 100%
	position: fixed
	z-index: -1

nav 
	top: 50px
	position: absolute
  z-index: 1
 
nav 
	ul 
		li 
			display: inline-block
			margin-right: 50px
			&:last-child 
				margin-right: 0
			a 
				font-size: 30px
				display: inline-block
				text-decoration: none
				text-transform: uppercase
				font-weight: 500
				border-bottom: none
				transition: all .2s ease
				color: $bordo
				position: relative
				&:hover
					color: #fff
				&:focus
					color: #fff
					text-decoration: none
				&:after
					display: block
					position: absolute
					content: ""
					height: 3px
					width: 0
					left: 50%
					bottom: 0
					background-color: $bordo
					transition: width .2s ease-in-out
				&:before
					display: block
					position: absolute
					content: ""
					height: 3px
					width: 0
					left: 50%
					bottom: 0
					background-color: $bordo
					transition: width .2s ease-in-out, left .2s ease-in-out
				&:hover:before,
				&:focus:before
					width: 50%
					left: 0
				&:hover:after,
				&:focus:after
					width: 50%	

.logo
	width: 250px
	height: 250px
	margin: 0 auto
	position: absolute
	left: 0
	right: 0
	bottom: 30%
	img
		width: 100%
		height: 100%
	
.down
	width: 100px
	height: 100px
	margin: 0 auto
	transition: all .2s ease
	position: absolute
	left: 0
	right: 0
	bottom: 0
	&:hover
		bottom: 1%

section,
footer
	position: relative
	margin: 0
	padding: 50px
	min-height: 100vh
	height: 100vh
	width: 100%
	h2
		text-transform: uppercase
		font-size: 40px
		text-align: center
		color: $bordo
		margin-bottom: 35px

.bg_fff
	background-color: #fff

.controls
	text-align: center
	li
		list-style-type: none
		display: inline-block
		margin-right: 50px
		font-size: 24px
		color: $bordo
		cursor: pointer
		opacity: .6
		transition: all .2s ease
		&:last-child
			margin-right: 0
		&:hover
			opacity: 1
	li.active
		opacity: 1

.item
	.mix
		margin-bottom: 10px
		img
			width: 100%

.owl-nav
	margin-top: -60px
	color: #f8f9f9
	.owl-prev,
	.owl-next
		background-size: contain
		background-repeat: no-repeat
		padding-left: 20px
		padding-top: 10px
		font-size: 0
		width: 100px
		height: 100px
	.owl-prev
		margin-left: -100px
		background-image: url(../img/prev.png)
		margin-top: -230px
		&:hover
			background-image: url(../img/prev_hover.png)
	.owl-next
		margin-right: -100px
		float: right
		background-image: url(../img/next.png)
		margin-top: -100px
		&:hover
			background-image: url(../img/next_hover.png)